api/src/main/resources/schemas/xml/bankStatementsSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bankStatements" type="bankStatementsType"/>
  <xs:complexType name="bankStatementType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="accountNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="21"/>
            <xs:pattern value="NL[0-9]{2}[A-z0-9]{4}[0-9]{10}[A-Z]{3}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="uploadDate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="closingBalance" type="xs:double"/>
      <xs:element name="uploader" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bankStatementsType">
    <xs:sequence>
      <xs:element type="bankStatementType" name="bankStatement" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>