api/src/main/resources/schemas/xml/transactionSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MT940">
        <xs:complexType>
            <xs:all>
                <xs:element name="transactions" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="transaction" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element name="transactionType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="4"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="identificationCode"/>
                                        <xs:element name="amount">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[+]?\d+([.]\d+)?"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="entryDate">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:length value="4"/>
                                                    <xs:pattern value="\d{4}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="supplementaryDetails"/>
                                        <xs:element name="debitCreditMark">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="C"/>
                                                    <xs:enumeration value="D"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="valueDate">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:length value="6"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="referenceForTheAccountOwner"/>
                                        <xs:element name="referenceOfTheAccountServicingInstitution">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="16"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="informationToAccountOwner" minOccurs="0">
                                            <xs:complexType mixed="true">
                                                <xs:all>
                                                    <xs:element type="xs:string" name="accountOwnerInformationInOneLine" minOccurs="0"/>
                                                    <xs:element name="returnReason" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" name="clientReference" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="endToEndReference" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="paymentInformationId" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="instructionId" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="mandateReference" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="creditorId" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="counterPartyId" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="remittanceInformation" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="purposeCode" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="ultimateCreditor" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="ultimateDebitor" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="exchangeRate" minOccurs="0"/>
                                                    <xs:element type="xs:string" name="charges" minOccurs="0"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>